.postoDomanda,
.postoBottoni,
.postoErrori {
	padding: 1rem;
	margin: 0.5rem;
}

.postoErrori {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.risposta-errata {
	background-color: lightgrey;
	border: solid black 2px;
	width: 75%;
	min-height: 50px;
	margin: 0.3rem;
}

#domanda {
	width: 40%;
	height: 6rem;
	resize: none;
}

#risposta {
	width: 20%;
}

body {
	background-color: lightgrey;
}
.form {
	background-color: grey;
	border: solid black 2px;
	margin: 1rem;
}

.main {
	padding: 1rem;
	text-align: center;
	margin: 50px;
}

.border {
	border: solid black 5px;
}

#pos,
#err {
	padding: 0.35rem;
}

* {
	font-family: sans-serif !important;
}

h2 {
	font-weight: bold !important;
}
